<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Bundle Name="WiX-Test4"
          Version="1.0.0.0"
          Manufacturer="RalfSasse"
          UpgradeCode="416b6bbf-2beb-4187-9f83-cdb764db2840">
    
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="WiX-Test3-Klassen.dll" />
      <Payload SourceFile="BootstrapperCore.config" />
      <Payload SourceFile="Microsoft.Practices.Prism.dll" />
    </BootstrapperApplicationRef>
    
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value=""/>
    <WixVariable Id="WixMbaPrereqPackageId" Value=""/>
    
    <Chain>
      <MsiPackage SourceFile="WiX-Test2.msi" />
    </Chain>
    
  </Bundle>
  
</Wix>

